<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>namespace</key>
	<string></string>
	<key>project</key>
	<string>ArenaPay</string>
	<key>supports</key>
	<array>
		<dict>
			<key>paiNotes</key>
			<string>支付宝支付</string>
			<key>api</key>
			<string>arena.biz.pay.alipay</string>
			<key>method</key>
			<string>alipay:</string>
			<key>className</key>
			<string>AliPayManager</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>paiNotes</key>
			<string>微信支付</string>
			<key>api</key>
			<string>arena.biz.pay.wxpay</string>
			<key>method</key>
			<string>wxpay:</string>
			<key>className</key>
			<string>WXPayManager</string>
			<key>async</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
